body
{
  margin: 0px;
  text-align: center;
}

h1
{
  width: 8%;
  margin: 0 auto 0 auto
}

.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  color: red;
  width: 200px;
  height: 200px;
}

.bottom_cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top_cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}
