body
{
  font-family: "Montserrat"
  text-align: center;
}

h1
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 900;
}

p
{
  color: #8F8F8F;
}

.feature-icon
{
  color: #EF8172;
  margin-bottom: 1rem;
}

.feature-icon:hover
{
  color: #FF4C68;
}

.container-fluid
{
  padding: 3% 15% 7%;
}

#title
{
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#features
{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

#testimonials
{
  padding: 7% 15%;
  background-color: #EF8172;
  color: white;
}

#press
{
  background-color: #EF8172;

  padding-bottom: 3%;
}

#pricing
{
  padding: 100px;
}

/* Navigation Bar */
.navbar
{
  padding: 0 0 4.5rem;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Buttons */
.download-btn
{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img
{
  width: 15%;
  transform: rotate(25deg) translateX(-50%);;
  position: absolute;

}

.feature-item
{

  padding: 5%;
}

.testimonial-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item
{
  padding: 7% 15%;
}

@media only screen and (max-width: 1028px)
{
  .title-img
  {
    position: static;
    transform: rotate(0);
    width: 25%;
  }
}
